@{
    ViewBag.Title = "Erro 404";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<div class="flex-properties-c">
    <span class="messages-1 messages-error">ERRO 404</span>
    <span class="messages-2">Recarregue a página ou <a class="link" href=javascript:history.back(-1)>volte para a página anterior</a></span>
</div>
