@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js{
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/change-password.js"></script>
}

<section class="change-password background-page flex-properties-c">

    <div class="flex-properties-c">
        <span class="messages-1">Alteração de Senha</span>
        <form class="flex-properties-c" method="post" action="/Account/ChangePassword" id="formChangePassword">
            @Html.AntiForgeryToken()
            <div>
                <input type="password" class="form-control input-login" placeholder="Antiga Senha" name="Password" id="Password">
                <label for="Password"></label>
            </div>
            <div>
                <input type="password" class="form-control input-login" placeholder="Nova Senha" name="NewPassword" id="NewPassword">
                <label for="NewPassword"></label>
            </div>
            <div>
                <input type="password" class="form-control input-login" placeholder="Confirme a Nova Senha" name="ConfirmPassword" id="ConfirmPassword">
                <label for="ConfirmPassword"></label>
            </div>
            <button class="btn btn-primary btn-lg darkblue-bg btn-login">Enviar</button>
        </form>
    </div>
</section>