@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<section class="background-page flex-properties-c">

    <div class="confirmation flex-properties-c">
        <span class="messages-1 messages-forgot">Aguarde</span>
        <span class="messages-2">Uma confirmação foi enviada ao seu e-mail. Acesse-a para logar no sistema</span>
    </div>
</section>
