@{
    ViewBag.Title = "Esqueceu sua Senha";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<section class="background-page flex-properties-c">

    <div class="forgot flex-properties-c">
        <span class="messages-1">Esqueceu sua senha?</span>
        <span class="messages-2">Digite o e-mail desejado para enviarmos a recuperação</span>
        <form class="flex-properties-c" method="post" action="/Account/ForgotPassword">
            @Html.AntiForgeryToken()
            <input type="text" class="form-control input-login" placeholder="Email" name="Email" id="Email">
            <button class="btn btn-primary btn-lg darkblue-bg btn-login">Enviar</button>
        </form>
    </div>
</section>
