@model Tuple<string>

@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<section class="reset-password background-page flex-properties-c">

    <div class="flex-properties-c">
        <span class="messages-1">Alteração de Senha</span>
        <form class="flex-properties-c" method="post" action="/Account/ResetPassword">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Code" id="Code" value="@Model.Item1" />
            <input type="text" class="form-control input-login" placeholder="Email" name="Email" id="Email" />
            <input type="password" class="form-control input-login" placeholder="Nova Senha" name="Password" id="Password">
            <input type="password" class="form-control input-login" placeholder="Confirme a Nova Senha" name="ConfirmPassword" id="ConfirmPassword">
            <button class="btn btn-primary btn-lg darkblue-bg btn-login">Enviar</button>
        </form>
    </div>
</section>
