packages/
*.sln
*.suo
*.config
TaskQuest.csproj
*.user
*.asax
*.asax.cs
bin/
obj/
Properties/
/TaskQuest/App_Start/FilterConfig.cs
/TaskQuest/App_Start/RouteConfig.cs
/TaskQuest/App_Start/WebApiConfig.cs
.nuget/