@model Tuple<string>

@{
    ViewBag.Title = "Início";
}

@section css{
    <link rel="stylesheet" href="~/Content/css/premium.css" />
}

<section class="pads-bot">
    <div class="flex-properties-r">
        <div class="title-a" style="color: @User.Identity.GetCor()"><h2>Premium</h2></div>
        <div class="title-b">
        </div>
    </div>
</section>

<section class="margintop">
    <div class="premium flex-premium">
        <div class="flex-premium premium-header">
            <h4>Plano Premium</h4>
            <h1>R$ 100/m</h1>
        </div>
        <ul class="flex-premium premium-body">
            <li>Adiciona diversas funcionalidades no seu grupo</li>
            <li>Convide muito mais integrantes para seu grupo</li>
            <li>Tenha mais de um administrador</li>
            <li>Gere gráficos de desempenho individual e coletivo de vários tipos</li>
            @Html.Partial("_LinkPartial", new TaskQuest.ViewModels.LinkViewModel("CriarAssinatura", Model.Item1, "/Premium/CriarAssinatura", false))
            <li><a onclick="link(CriarAssinatura)">Começar</a></li>
        </ul>
    </div>
</section>