@model TaskQuest.ViewModels.QuestInfoViewModel

@{
    ViewBag.Title = "Quest";
}

@section css
{
    <link rel="stylesheet" href="~/Content/css/spectrum.css">
    <link rel="stylesheet" href="~/Content/css/balloon.css" />
}

@section js
{
    <script src="~/Content/js/quest.js"></script>
    <script src="~/Content/js/showBalloon.js"></script>
    <script src="~/Content/js/mudar-status.js"></script>
}

@Html.AntiForgeryToken()
<input type="hidden" id="Hash" value="@Model.QuestId" />

<section class="pads-bot">

    <div class="flex-properties-r">
        <div class="title-a"><h2>Quest</h2></div>
        <div class="title-b">
            <div class="flex-properties-r pads"></div>
        </div>
    </div>

    <div class="container flex-properties-c">
        <div><h1 id="Nome"></h1></div>
        <div><p class="justify" id="Descricao"></p></div>
    </div>

</section>

<section class="pads-bot">
    <div id="task-container" class="container flex-properties-r margintop"></div>
</section>

<div class="modal fade" id="modalTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Informações da Task</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4 id="NomeTask"></h4>
                </div>
                <div class="form-group">
                    <h4 id="DescricaoTask"></h4>
                </div>
                <div class="form-group">
                    <p>Data de Conclusão</p>
                    <h4 id="DataConclusao"></h4>
                </div>
                <div class="select-container">
                    <p>Dificuldade</p>
                    <h3 id="Dificuldade"></h3>
                </div>
                <div class="form-group" title="Subir Arquivos">
                    <a id="Download"><i class="fa fa-download" aria-hidden="true"></i></a>
                </div>
                @if (Model.HasGroup)
                {
                    <div class="select-container" id="Responsavel"></div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-cg" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>

<div id="modalDownload" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <form method="post" id="formFiles">
                    <div class="flex-properties-r">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Adicionar arquivos <input id="Files" type="file" style="display: none;" multiple>
                                </span>
                            </label>
                            <input id="textFiles" type="text" class="form-control" readonly>
                            <label class="input-group-btn">
                                <button class="btn btn-primary">
                                    Enviar
                                </button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <div id="data"></div>
                <div id="load"></div>
            </div>
            <div class="modal-footer">
                <button name="Concluir" id="Concluir" class="btn btn-secondary btn-cg">Concluir</button>
            </div>
        </div>
    </div>
</div>
