<div class="modal fade" id="modalIntegrante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="IntegranteNome"></h1>
            </div>
            <div class="modal-footer modalfooter-container" style="flex-direction: column">
                <h4 id="IntegranteEmail"></h4>
                <div id="telefones-container"></div>
            </div>
        </div>
    </div>
</div>