@model Tuple<string>


@{
    ViewBag.Title = "Confirmação de Assinatura";
}

<section class="background-page flex-properties-c">
    <div class="flex-properties-c">
        <span class="messages-1">PagSeguro</span>
        <span class="messages-2">Ao clicar no link abaixo, você confirma o upgrade do grupo para o Plano Premium</span>
        <span class="messages-2"><a class="link" href="@Model.Item1">Confirmar Assinatura</a></span>
    </div>
</section>
