@{
    ViewBag.Title = "Aguardando Pagamento";
}

@section css{
<link rel="stylesheet" href="~/Content/css/premium.css" />
}

<section class="background-page flex-properties-c">
    <div class="flex-properties-c">
        <span class="messages-1">Aguardando Pagamento</span>
        <span class="messages-2">Seu pagamento ainda não foi detectado. Aguarde até a confirmação do mesmo</span>
        <span class="messages-2"><a class="link" href="/">Voltar para a página inicial</a></span>
    </div>
</section>

