<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    <title>@ViewBag.Title</title>
</head>


<body>

    <!-- Início do Layout -->

    <header class="background-page flex-properties-c">
        <div class="logo-task">
            <p class="txtlogo logo-hidden icon-white container">
                <a class="task-quest" href="/Home/Inicio" style="color: white; float:left">
                    <span id="txt-task">Task</span><span id="txt-quest">Quest</span>
                </a>
            </p>
        </div>
    </header>

    <section>
        @RenderBody();
    </section>

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

</body>
</html>